<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Pesquisa de pessoas<small>Visualização</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="#">Formulários</a></li>
      <li class="active">Elementos gerais</li>
    </ol>
  </section>
  
  <!-- Main content -->
    <section class="content">
      <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header">
            <div class="row">
              <div class="col-sm-2">								
                <a class="btn  btn-default" [routerLink]="['/pessoas/nova']">
                  <i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Nova pessoa</span>
                </a>	
              </div>							
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">


            <form #form="ngForm" novalidate>
              <div class="row">
                <div class="col-sm-6  form-group">
                  <label for="nome" class="control-label">Nome</label> 
                  <input id="nome" type="text" size="100" maxlength="100" autofocus="autofocus" 
                    class="form-control" name="nome" ngModel [(ngModel)]="filter.nome" required
                    placeholder="Pesquisar por nome" autocomplete="off" />
                </div>

                <div class="col-sm-4  form-group">
                  <label for="pseudonimo" class="control-label">Pseudônimo</label> 
                  <input id="pseudonimo" type="text" size="50" maxlength="50" class="form-control"
                    placeholder="Pesquisar por pseudônimo" />
                </div>
                
                <div class="col-sm-2  form-group">
                  <label for="nome" class="control-label">CPF</label> 
                  <input id="nome" type="text" size="20" maxlength="20" class="form-control js-cpf" 
                    placeholder="Pesquisar por CPF" />
                </div>
              </div>
              
              <!-- /.box-body -->
              <div class="box-footer">
                <button class="btn  btn-primary" (click)="filtrar()" [disabled]="form.invalid" type="submit">Pesquisar</button>
              </div>
            </form>

           
          
            <div class="table-responsive">
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th class="table-col-nome">#</th>
                    <th class="table-col-nome">Nome</th>
                    <th class="table-col-pseudonimo">Pesudônimo</th>
                    <th class="table-col-email">Email</th>
                    <th class="table-col-celular">Celular</th>
                    <th class="table-col-cpf">CPF</th>
                    <th class="table-col-acoes"></th>
                  </tr>
                </thead>
                
                <tbody>
                  <tr class="d-flex" *ngFor="let pessoa of pessoas">
                    <td> <span class="place-info-box-icon"><img [src]="getImagePath(pessoa.foto)"/></span></td>
                    <td class="col-4">{{pessoa.nome}}</td>
                    <td class="col-2">{{pessoa.pseudonimo}}</td>
                    <td class="col-4">{{pessoa.email}}</td>
                    <td class="col-2">{{pessoa.foneCelular}}</td>
                    <td class="col-2">{{pessoa.cpf}}</td>
                    <td class="col-2 text-center">
                      <a class="btn  btn-link  btn-xs" title="Editar" href="#"> 
                        <i class="glyphicon glyphicon-pencil"></i>
                      </a>
                      <a class="btn  btn-link  btn-xs js-excluir-btn" title="Excluir" href="">
                        <i class="glyphicon glyphicon-remove"></i>
                      </a>
                    </td>
                  </tr>
                  <tr *ngIf="!pessoas?.length">
                    <td colspan="7">Nenhuma pessoa encontrada</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li *ngFor="let p of totalPages; let i = index" class="page-item"><a class="page-link" href=""
                  (click)="setPage(i, $event)" [class.active]="i === filter.page">{{i+1}}</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
    </section>		
</div>
