<div class="content-wrapper">
  <section class="content-header">
    <h1>Cadastro de documento<small>Visualização</small></h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="#">Formulários</a></li>
      <li class="active">Elementos gerais</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">			
    <div class="box box-default">
            
      <div class="box-header with-border">
        <div class="row">
          <div class="col-sm-2">
            <div class="aw-page-header-controls">
              <a class="btn  btn-default" href="javascript:;">
                <i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Pesquisa documentos</span>
              </a>
            </div>
          </div>
        
        </div>

        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
        </div>
      </div>
      <!-- /.box-header -->
        
      <form [formGroup]="formGroup" novalidate>
        <div class="box-body">
          
          <div class="row">													
            <div class="col-sm-12  form-group">
              <label for="nome" class="control-label">Descrição</label> 
              <input id="nome" type="text" class="form-control" size="100" maxlength="100"
                formControlName="descricao" autocomplete="off" />
            </div>
            
            <div class="form-group  col-sm-12">
              <label class="control-label">Príncipal</label>
              <div>
                <input type="checkbox" formControlName="isPrincipal">
              </div>
            </div>						
            
            <div class="form-group  col-sm-12">
              <div *ngIf="currentFileUpload" class="progress">
                <div class="progress-bar progress-bar-info progress-bar-striped"
                  role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
                  aria-valuemin="0" aria-valuemax="100"
                  [ngStyle]="{width:progress.percentage+'%'}">
                  {{progress.percentage}}%</div>
              </div>
              
              <label class="control-label">Documento</label>
              <div *ngIf="!hasFilename()">
                <div class="npj-upload">
                  <i class="glyphicon  glyphicon-cloud-upload"></i> 
                  <span>Arraste o documento aqui ou </span> 
                  <a class="npj-upload-form-file">selecione
                    <input type="file" (change)="inputFileChange($event)" data-max-size="2048" accept=".doc,.docx,.pdf" />
                  </a>
                </div>
              </div>
            </div>
            <!-- /.col -->	
            
            <div class="row" *ngIf="hasFilename()">
              <div class="col-md-4"></div>
              <div class="col-md-4  text-center">
                <a href="javascript:;" class="thumbnail">
                  <div class="icon">
                    <i style="font-size: 90px;" class="ion-document-text"></i>
                  </div>
                </a>
                <button type="button" (click)="remove()" class="btn  btn-link"><span class="glyphicon  glyphicon-remove"></span></button>
              </div>
              <div class="col-md-4"></div>
            </div>					
          </div>
          <!-- /.row -->
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
          <button class="btn  btn-primary" [disabled]="formGroup.invalid" 
            (click)="save(formGroup.value)" type="submit">Salvar</button>
          <a href="javascript:;"  class="btn btn-info" role="button">Novo documento</a> 
        </div>
      </form>
    </div>
    <!-- /.box -->
  </section>
  <!-- /.content -->
  
</div>
