/* You can add global styles to this file, and also import other style files */
.npj-upload {
	padding: 15px;
	
	border: 1px dashed #ddd;
	border-radius: 4px;
	background: #fafafa;
	
	text-align: center;
}

.npj-upload-form-file {
	display: inline-block;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
    margin-bottom: 1px;
}

.npj-upload-form-file > input[type=file] {
	position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    opacity: 0;
    cursor: pointer;
    
    font-size: 500px;
}

.npj-tabela-item {
	position: relative; /* Para que o painel de exclusão apareça dentro da linha */
	background-color: #b8bfc1 !important;
	padding: 5px;
	
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.npj-tabela-item:after {
	clear: both;
	display: block;
    content: "";
}

.npj-tabela-item ~ .npj-tabela-item {
	border-top: 1px solid #ddd;
}

.npj-tabela-item__coluna {
	padding: 0 10px;
}

.npj-tabela-item__coluna--foto {
	float: left;
	width: 60px;
	
	text-align: center;
}

.npj-tabela-item__coluna--detalhes {
	margin-left: 60px;
}

.npj-tabela-pessoa-nome {
	font-weight: 500;
	font-size: 1.1em;
	display: block;
}

.npj-tabela-pessoa-email {
	color: #09090a;
	font-weight: 500;
	display: block;
}

.npj-tabela-pessoa-cpf {
	color: #09090a;
	font-weight: 500;
	display: block;
}